
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .container:before {
        content: none;
    }

    a:hover {
        color: white;
        text-decoration: none;
    }

    .table-responsive {
        padding: 50px;
        box-shadow: rgb(0 0 0 / 20%) 0px 20px 30px;
    }

    .container label span {
        color: red;
        font-weight: 600;
    }

    a:hover {
        color: white;
        text-decoration: none;
    }
</style>


<div>
    <div class="container">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="form-group purple-border">
                    <h2>Chi tiết đơn hàng #321WV1SJF</h2><br>
                    <label for="exampleFormControlTextarea4">● Sản phẩm: <span>THẺ MOBIFONE <span class="priceod">20.000&nbsp;₫</span></span></label><br>
                    <label for="exampleFormControlTextarea4">● Số lượng: <span>3</span></label><br>
                    <label for="exampleFormControlTextarea4">● Thời gian thanh toán: <span>2022-07-24 00:32:16.72</span></label><br>
                    <label><span style="color: blue; ">Định dạng:  &ensp;Seri|Mã thẻ</span></label><br>
                    <!--<textarea readonly="" class="form-control" id="exampleFormControlTextarea4" rows="12">31482402042|456341946353</textarea>-->
                    <textarea readonly="" class="form-control" id="exampleFormControlTextarea4" rows="12">90236587|0624892948940204
62056232616|6204542488091
81492472825|6893819247505
</textarea>
                </div>

            </div>
        </div>
    </div>
</div>


</div>
