@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .container:before {
        content: none;
    }
</style>

<center>
    <div>
        <div class="container">
            <div class="table-responsive">
                <div class="table-wrapper">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>MÃ GD</th>
                                <th>SẢN PHẨM</th>
                                <th style="text-align: center">SỐ LƯỢNG</th>
                                <th>GIÁ</th>
                                <th>THỜI GIAN</th>
                            </tr>
                        </thead>
                        <tbody>


                            <tr>
                                <td>1</td>

                                <td><a href="OrderDetails">PafZYWytu</a></td>
                                <td><a href="OrderDetails">THẺ MOBIFONE <span class="menhgiathe">20.000&nbsp;₫</span></a></td>
                                <td style="text-align: center">3</td>

                                <td class="priceOrder">57.036&nbsp;₫</td>
                                <td>2022-07-24 00:32:16.72</td>
                            </tr>

                            <tr>
                                <td>2</td>

                                <td><a href="OrderDetails">BjMJUPYJF</a></td>
                                <td><a href="OrderDetails">THẺ MOBIFONE <span class="menhgiathe">100.000&nbsp;₫</span></a></td>
                                <td style="text-align: center">1</td>
                                <td class="priceOrder">92.150&nbsp;₫</td>
                                <td>2022-07-24 00:32:16.72</td>
                            </tr>

                            <tr>
                                <td>3</td>

                                <td><a href="OrderDetails">PWTZNXode</a></td>
                                <td><a href="OrderDetails">THẺ MOBIFONE <span class="menhgiathe">50.000&nbsp;₫</span></a></td>
                                <td style="text-align: center">2</td>
                                <td class="priceOrder">92.150&nbsp;₫</td>
                                <td>2022-07-24 00:32:16.72</td>
                            </tr>

                            <tr>
                                <td>4</td>

                                <td><a href="OrderDetails">hcndccjzq</a></td>
                                <td><a href="OrderDetails">THẺ GMOBILE <span class="menhgiathe">20.000&nbsp;₫</span></a></td>
                                <td style="text-align: center">1</td>
                                <td class="priceOrder">19.012&nbsp;₫</td>
                                <td>2022-07-24 00:32:16.717</td>
                            </tr>

                            <tr>
                                <td>5</td>

                                <td><a href="OrderDetails">GZETQfsQV</a></td>
                                <td><a href="OrderDetails">THẺ VIETTEL <span class="menhgiathe">10.000&nbsp;₫</span></a></td>
                                <td style="text-align: center">1</td>
                                <td class="priceOrder">9.603&nbsp;₫</td>
                                <td>2022-03-21 04:30:17.78</td>
                            </tr>




                        </tbody>

                    </table>
                    <ul class="pagination" style="float: right">
                        <li class="page-item"><a class="page-link" href="?page=1">Previous</a></li>

                        <li class="page-item active"><a class="page-link" href="?page=1">1</a></li>

                        <li class="page-item"><a class="page-link" href="?page=1">Next</a></li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</center>