@using Microsoft.AspNetCore.Http;
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/style.css" />
    <title>Sign in & Sign up Form</title>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <div class="sidebar">
        <div class="logo_content">
            <div class="logo">
                <i class='bx bxl-firebase'></i>
                <div class="thanhtoan247" onclick="window.location = 'home';">
                    <img src="https://i.ibb.co/dbBX7dV/thanhtoan247.png" alt="">
                </div>
            </div>
            <i class='bx bx-menu' id="btn"></i>
        </div>
        <ul class="nav_list">
            <li>
                <i class='bx bx-search'></i>
                <input type="text" placeholder="Search...">
            </li>
            <li>
                <a href="Home">
                    <i class='bx bxs-home'></i>
                    <span class="links_name">Trang chủ</span>
                </a>
                <!-- Tooltip -->

                <span class="tooltip">Trang chủ</span>
            </li>
            <li>
                <a href="PhoneCard">
                    <i class='bx bxs-card'></i>
                    <span class="links_name">Thẻ điện thoại</span>
                </a>
                <!-- Tooltip -->

                <span class="tooltip">Thẻ điện thoại</span>
            </li>
            <li>
                <a href="#">
                    <i class='bx bxs-phone-call'></i>
                    <span class="links_name">Nạp điện thoại</span>
                </a>
                <!-- Tooltip -->

                <span class="tooltip">Nạp điện thoại</span>
            </li>
            <li>
                <a href="GameCard">
                    <i class='bx bxs-game'></i>
                    <span class="links_name">Thẻ game</span>
                </a>
                <!-- Tooltip -->

                <span class="tooltip">Thẻ game</span>
            </li>

            <li>
                <a href="#">
                    <i class='bx bx-folder-open'></i>
                    <span class="links_name">Nạp 3G, 4G</span>
                </a>
                <!-- Tooltip -->

                <span class="tooltip">Nạp 3G, 4G</span>
            </li>
            <li>
                <a href="#">
                    <i class='bx bxs-heart'></i>
                    <span class="links_name">Thanh toán điện nước</span>
                </a>
                <!-- Tooltip -->

                <span class="tooltip">Điện, nước</span>
            </li>
            <li>
                <a href="#">
                    <i class='bx bxs-cog'></i>
                    <span class="links_name">Settings</span>
                </a>
                <!-- Tooltip -->

                <span class="tooltip">Settings</span>
            </li>
        </ul>
        @if (Context.Session.GetString("Role") != null)
        {
            <div class="profile-content">
                <div class="profile">
                    <div class="profile-details">

                        <img src="https://media.wired.com/photos/5b17381815b2c744cb650b5f/master/pass/GettyImages-134367495.jpg" alt="">
                        <div class="name-job">
                            <div class="name">hungtienxinh</div>
                            <div class="job">ThanhToan247.xyz</div>
                        </div>
                    </div>
                    <i style="cursor: pointer" onclick="window.location.href = 'Logout'" class='bx bx-log-out' id="log-out"></i>
                </div>
            </div>
        }



    </div>
    <div class="home-content">
        <div class="navbardiv">
            <div class="navdiv">
                <div class="navdiv2">
                    <nav>
                        <a href="Home">Trang chủ</a>
                        <a href="Recharge">Nạp tiền</a>
                        <a href="Order">Đơn hàng</a>
                        <a href="Contact">Liên hệ</a>

                        @if (Context.Session.GetString("Role") == "True")
                        {
                            <a href="Manage">Quản lý</a>

                        }
                        <div class="animation start-home"></div>
                    </nav>
                </div>
            </div>

            @if (Context.Session.GetString("Role") != null)
            {


                <div class="dropdown">
                    <div>
                        <div class="dropbtn"><img class="img-avatar" src="https://i.ibb.co/qsV4sms/kisspng-computer-icons-avatar-social-media-blog-font-aweso-avatar-icon-5b2e99c4409623-46439181152978.png" alt=""><span style="margin-left: 5px;">hungtienxinh</span></div>
                    </div>
                    <div class="dropdown-content">
                        <span class="square"></span>
                        <a href="Profile"><span><img class="img-cart" src="https://img.icons8.com/ios-glyphs/30/000000/user--v1.png" style="margin-bottom: -9px;">Profile</span></a>
                        <a href="Login"><span><img src="https://img.icons8.com/external-dreamstale-lineal-dreamstale/32/000000/external-logout-ui-dreamstale-lineal-dreamstale.png" style="margin-bottom: -9px;" />Logout</span></a>
                    </div>

                </div>
            }



            @if (Context.Session.GetString("Role") == null)
            {
                <div class="div-login" onclick="window.location.href = 'Login'"><button class="btn-login">LOGIN</button></div>
            }
        </div>
        @RenderBody()




    </div>


    <script src="~/js/app.js"></script>
</body>

</html>