@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="divflex1">
    <div onclick="window.location.href = 'GameCard'" class="div-img-home">
        <img src="~/img/02-57-00-09-07-2020-game.png" alt="" />
    </div>
    <div onclick="window.location.href = 'PhoneCard'" class="div-img-home">
        <img src="~/img/08-10-47-15-09-2021-napthedt.png" alt="">
    </div>
</div>
<div class="divflex2">
    <div onclick="window.location.href = '#3'" class="div-img-home">
        <img src="~/img/08-11-15-15-09-2021-naptiendt.png" alt="">
    </div>
    <div onclick="window.location.href = '#4'" class="div-img-home">
        <img src="~/img/08-52-59-15-01-2021-banner-digo-02.png" alt="">
    </div>
</div>

